
.grid-container{
  display:grid;
  background-color:#bbada0;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto auto auto;
  gap: 16px;
  border: 16px solid #bbada0;
  width: 500px;
  height: 500px;
  box-sizing: border-box;
}

.grid-cell{
background-color: rgba(238, 228, 218, 0.35);
}